.banner{
	width:  700px;
	height: 200px;
	border: 3px solid #F2B80D;
	margin: auto;
	background: white;

}

#contenidos{

	width: 1000px;
	height: auto; 
	margin: auto; 
	position: relative;
	background: #006680;
}
	
/*ETIQUETAS*/
body{
background: rgba(0,102,128,2726);
background-repeat: no-repeat;
background-size: cover; 
}

h1{
font-family: 'Angsana New', cursive;
margin-left: 10px;
font-size: 60px;
text-align: center;
}

h2{

font-family: 'Angsana New Bold', cursive;
margin-left: 10px;
font-size: 20px;
text-align: left;
}

header{
	width: 1000px;
	height:125 px;
	background: #F2B80D;
}

nav{

	width:1000px;
	height:50px;
	background: #FF5900;
	border-radius: 10px;
	
}

ul{
margin:auto;
padding-top: 4px;

}
li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: orange;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px black inset;
}
section{
	width: 700px;
	float: left;
	background:#B3B3B3;
	margin-top:20px; 
	border-radius: 10px;
	margin-bottom: 10px;
	height: 600px;
}
aside{
	width: 280px;
	float: left;
	background:#B3B3B3;
	margin-left:20px; 
	margin-top:20px;
	border-radius: 10px;
	margin-bottom: 10px;
	height: 600px;
}
footer{
	width: 1000px;
	height: 220px;
	background: white;
	float: left;
	margin-top:20px; 
	border-radius: 10px;
	margin-bottom: 20px;

}
/*CLASES*/
.ancho_menu_home{width:900px;}
.ancho_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none;}
.menu:active{color: white; text-decoration: none;}

 
